.delivering-project {
  cursor: pointer;
  text-align: center;
  opacity: 0.8;

  .fi-check {
    margin-right: 0.2rem;
  }

  &.select {
    color: red;
    opacity: 1;
  }

  .project-img {
    padding: 0.3125rem;
    border: 1px solid #e9e9e9;
    border-radius: 5px;
    background: white;
  }

  .project-title {
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    white-space: nowrap;
  }
}

.deliver-project-modal {
  .no-content {
    color: #666;
  }

  .back {
    margin-left: 0.5rem;
  }
}
