.footer {
  padding-top: 2rem;
  padding-bottom: 2rem;
  //border-top: 1px solid #eee;
  font-size: 0.875rem;

  .inline-list li a {
    color: #666;
    font-size: 0.875rem;
    &:hover {
      text-decoration: underline;
    }
  }

  @media #{$small-only} {
    .inline-list li {
      float: none;
      line-height: 1.8;

      a {
        display: inline;
      }
    }
  }

  .inline-list {
    @media #{$medium-up} {
      float: left;
    }
  }

  .copyright {
    @media #{$medium-up} {
      float: right;
    }
  }

  .checkin {
    color: #999;
  }

}

