@import 'variables';

.footer {
  background-color: #fff;
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-top: 1px solid #eee;
  font-size: 92.5%;

  .columns {
    margin-top: 1rem;
  }

  .checkin {
    margin-top: 2rem;
    color: #999;

    @media #{$large-only} {
      text-align: center;
    }
  }

}

