@import 'variables';

.topbar-hr {
  margin: 0;
}

#cywin-topbar {
  a.title {
    padding-left: 0;
    padding-right: 30px;
  }

  .logo-wrapper {
    @media #{$small-only} {
      width: 44%;
    }
    display: inline-block;

    .logo-wrapper-inner {
      display: inline-block;
      position: relative;
    }

    .bit {
      font-size: 0.5rem;
      position: absolute;
      top: -17px;
      right: -17px;
    }
  }

  .separation a {
    padding: 0;
  }

  .search {
    border-radius: 10rem;
    @media only screen and (min-width: #{lower-bound($medium-range)}) and (max-width: 780px)  {
      display: none;
    }
  }

  @media #{$small-only} {
    .separation {
      display: none;
    }

    .search {
      border-radius: 0;
    }

    // 移动端导航处理
    .toggle-topbar {
      right: auto;
      left: 0;
    }

    .toggle-topbar a {
      padding: 0 20px;
    }

    .title-area {
      .title {
        width: 100%;
        text-align: center;
      }
    }

    .right-top-bar-section {
      position: absolute;
      right: 0;
      top: 0;
      left: auto !important;

      ul li {
        float: left;
        a {
          padding-top: 27px;
        }
      }
    }
  }
}
.main-container {
  background-color: #fff;
}

// 用户菜单
.user-link-wrapper {
  position: relative;
}

a.user-link {
  color: #F7F7F7;

  & > img {
    width: 1.725rem;
    border-radius: 10rem;
    margin-bottom: 0.5rem;
    @media #{$small-only} {
      margin-top: -0.625rem;
      margin-bottom: 0;
    }
  }
}
.user-dropdown {
  background-color: #FAFAFA;
  border: 1px solid #ccc;
  color: #333;
  position: absolute;
  top: 4.2rem;
  z-index: 9999;
  right: 1.875rem;

  @media #{$small-only} {
    right: 0.5rem;
  }

  padding: 0 1rem;
  white-space: nowrap;

  .title {
    color: #999;
    line-height: 1.2;
  }

  h6 {
    font-size: 0.875rem;
  }

  a {
    color: #666;
    font-size: 0.925rem;
    &:hover {
      color: $secondary-color;
    }
  }

  li {
    list-style-type: none;
    padding: 0.1rem 0;
    ul {
      margin: 0;
      padding: 1rem 2rem;
    }
  }

  li:first-child:before {
    left: 100%;
    margin-left: -21px;
    content: "";
    position: absolute;
    width: 1px;
    height: 1px;
    border: 5px solid transparent;
    border-bottom-color: #d2d3d5;
    top: -10px;
  }
}
.user-dropdown-exit-link {
  position: fixed;
  top: 3.5rem;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.messagebox {
  position: relative;
  .fa {
    color: $primary-color;
  }

  span {
    position: absolute;
    right: 0.5rem;
    top: -0.5rem;
    font-size: 0.625rem;

    @media #{$small-only} {
      right: -0.3rem;
      top: 1.1rem;
    }
  }
}

.alert-box {
  margin-bottom: 0;
}
