.topbar-hr{
  margin: 0;
}
#cywin-topbar {
  a.title {
    padding-left: 0;
    padding-right: 30px;
  }

  .separation a {
    padding: 0;
  }

  .search {
    border-radius: 10rem;
  }
}
.main-container {
  background-color: #fff;
}
