@import 'variables';
// 投资信息
.invest {
  position: relative;

  .title {
    border-bottom: 1px solid #ddd;
    padding-bottom: 0.5rem;
    margin-bottom: 0.5rem;
  }

  .content .box {
    padding: 1rem 1.5rem;
    margin-bottom: 0;

    .sub-title {
      color: $primary-color;
      font-size: 0.9rem;
    }

    .sub-content {
      font-weight: 500;
      color: $primary-color;
      font-size: 1.1rem;
    }
  }

  .content .box2 {
    .sub-title, .sub-content {
      color: #00C4A3;
    }
  }

}

.invest-content {

  position: relative;
  .new-invest-button {
    text-align: center;
  }

  .detail {
    border-top: 1px solid #ddd;

    .followers {
      padding: 1rem 2.225rem 0;
      border-top: 1px solid #ddd;

      .type {
        display: inline-block;
        width: 15%;
        color: #999;
        padding: 1.5rem 0;
        vertical-align: top;
      }

      .item {
        a {
          color: #666;
        }
        padding: 1.5rem 0;
        padding-left: 1rem;
        display: inline-block;
        width: 85%;

        li {
          text-align: center;
        }

        img {
          width: 3rem;
          border-radius: 50%;
          margin-bottom: 1rem;
        }
      }

    }

    .leader-info {
      padding: 1rem 2.225rem;

      .type {
        display: inline-block;
        width: 15%;
        color: #999;
        padding: 1.5rem 0;
        vertical-align: top;
      }

      .item {
        color: $primary-color;
        font-weight: 700;
        padding: 1.5rem 0;
        padding-left: 1rem;
        display: inline-block;
        width: 85%;

        a {
          color: $primary-color;
          font-weight: 700;
          &:hover {
            color: $secondary-color;
            font-weight: 700;
          }
        }

        img {
          width: 2rem;
          border-radius: 50%;
          margin-right: 1rem;
          vertical-align: bottom;
        }

        .no-content {
          color: #999;
          font-weight: normal;
        }

        .law-iterms {
          margin-left: 0;

          .law-title {
            display: block;
            padding-bottom: 0.625rem;
            margin-bottom: 1rem;
            border-bottom: 1px dashed #ddd;
            &:hover {
              .fa {
                color: $secondary-color;
              }
            }

            .fa {
              float: right;
              color: #ddd;
            }
          }

          .law-title.expand {
            color: $secondary-color;
          }

          .law-description {
            color: #999;
            padding: 0.5rem 0;
          }
        }

        .leader-word {
          color: #999;
          font-weight: normal;

          .post-i, .created-at {
            text-align: right;
          }

          .created-at {
            font-size: 0.875rem;
          }
        }
      }
      
    }

  }

  .more-info {
    text-align: center;

    a {
      border-top: 1px solid #ddd;
      padding: 1rem 0;
      color: #999;
      display: block;

      &:hover {
        background-color: #fcfcfc;
        color: $primary-color;
      }

      .fa {
        margin-left: 0.625rem;
      }
    }

  }

  .invest-button {
    text-align: center;
  }

  .invest-button {
    padding: 2rem 0;
    border-top: 1px solid #ddd;
    text-align: center;

    .invest-tips {
      span {
        color: #999;
      }

      .button, button {
        margin-left: 0.5rem;
      } 
    }
  }

}

.no-invest-content {
  text-align: center;
}

.invest-modal {
  .min-money {
    color: #666;
  }
  .total-money {
    color: #666;
    span {
      margin-left: 0.5rem;
      color: #333;
      font-weight: 600;
    }
  }

}

.syndicate-info {

  .title {
    border-bottom: 1px solid #ddd;
    padding-bottom: 0.5rem;
    margin-bottom: 0.5rem;
  }

  .invest-leader {
    margin-top: 1rem;
    margin-bottom: 1rem;
    .name {
      padding-bottom: 0.5rem;
    }
    .name a {
      color: #333;
      font-size: 120%;
      font-weight: 500;
    }
    .description {
      color: #888;
    }
  }

  .investments {
    .money {
      font-weight: 700;
      color: #666;
    }

    .time {
      color: #999;
      margin-bottom: 1rem;
    }
  }
}
