.job-box {
  //border: 1px solid #ddd;
  padding: 1rem 0;
  margin: 1rem;
  table {
    border: none;
  }

  .job-interest {
    text-align: center;
  }

  &:hover {
  }

}

.job-list {
  list-style: none;
  margin-left: 1rem;
  margin-right: 2rem;
  
  .job-title-wrapper {
    display: block;
    padding: 1rem 0;
    color: #666;
    font-weight: 500;
    //border-bottom: 1px dashed #666;

    .job-pay, .flag {
      float: right;
    }

    .job-pay {
      margin-right: 1rem;
    }
  }

  .job-title-wrapper.toggle {
    color: $primary-color;
    .job-title {
      font-weight: 600;
    }
  }

  .job-item {
    padding: 1rem;
    line-height: 2;
    color: #666;

    .labels {
      padding-bottom: 1.325rem; 
      margin-top: 1.325rem;
    }
    .label {
      margin-right: 0.5rem;
      background-color: #eee;
      color: #999;
      font-size: 90%;
      padding: 0.5rem 1rem;
    }
  }
  
  .job-interest {
    text-align: center;
  }
}

.jobs.no-content {
  text-align: center;
}
