.job-box {
  border: 1px solid #ddd;
  padding: 1rem 0;
  margin: 1rem;
  table {
    border: none;
  }

  .job-interest {
    text-align: center;
  }

  &:hover {
  }

}

.jobs.no-content {
  text-align: center;
}
