// 链接列表显示, 例如分类显示, 欢迎页
ul.list {
  text-align: center;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
  border-bottom: 1px solid #ddd;
  margin-left: 0;
  margin-right: 0;
  li {
    margin-bottom: 1rem;
    border: 1px solid #ddd;
    padding: 0;

    a {
      border: 1px solid #ddd;
      padding: 1.5rem 0;
      display: inline-block;
      width: 100%;
      color: #aaa;
      font-size: 1.2rem;
      cursor: default;
    }
    a.active {
      color: #333;
      font-weight: 600;
    }
  }
}
