.load-more {
  width: 100%;
  text-align: center;
  button {
    background-color: transparent;
    color: #333333;
    border: 1px solid #eee;
    padding: 0.5rem 0;
    &:focus {
      outline-style: none;
    }

    &:hover {
      background-color: #eee;
    }
  }
}
