// 创建项目或融资需求的向导
.head {
  margin-bottom: 2rem;

  .list {
    text-align: center;
    width: 100%;
    margin-left: 0;
    li {
      border: 1px solid #ddd;
      padding: 0;
    }
    a {
      width: 100%;
      color: #aaa;
      display: inline-block;
      width: 100%;
      padding: 1.5rem 0;
      font-size: 1.2rem;
      cursor: normal;
    }
    .active {
      color: #333;
    }
  }

}// head
