.operate {
  text-align: center;
  margin-left: 1rem;
  margin-right: 1rem;

  li {
    padding-bottom: 0;
    padding-right: 0.125rem !important;
    padding-left: 0.125rem;
  }

  a {
    display: inline-block;
    width: 100%;
    border: 1px solid #ddd;
    padding: 0.625rem 0;
    margin: 0.5rem 0;
    border-radius: 5rem;
    color: #555;
    background-color: #fff;

    &:hover {
      background-color: #eee;
      color: #333;
    }
  }
}
