@import 'variables';

.project-show, .project-edit {
  .head {

    .logo {
      width: 50%;
      margin: auto;

      img {
        border-radius: 10rem;
      }
    }

    .name {
      text-align: center;
      a {
        color: #444;
        font-weight: 500;
      }
    }

    .sub-name {
      text-align: center;
      color: #999;
      margin-bottom: 1rem;
    }

    .info {
      color: #666;

      div {
        margin-bottom: 0.5rem;
      }

      i.fa {
        margin-right: 0.5rem;
        margin-left: 1rem;
        width: 1rem;

        &:first-child {
          margin-left: 0;
        }
      }

    }

    .name-area {
      position: relative;
      .status-box {
        position: absolute;
        top: 0;
        right: 0;
        width: 100px;
        height: 100px;
      }

      .status {
        background: #f0ad4e;
        color: #fff;
        padding: 0.5rem 1rem;
        display: inline;
        @media #{$medium-up} {
          position: absolute;
          top: 0;
          right: 0;
        }
        opacity: 0.8;
      }
    }
  }
}

.project-edit {
  .head-edit {

    .name {
      a {
        color: #444;
        font-weight: 500;
      }
    }

    .sub-name {
      color: #999;
      margin-bottom: 1rem;
    }

    .info {
      color: #666;

      div {
        margin-bottom: 0.5rem;
      }

      i.fa {
        margin-right: 0.5rem;
        margin-left: 1rem;
        width: 1rem;

        &:first-child {
          margin-left: 0;
        }
      }

    }

  }
}

.logo img {
  border-radius: 10rem;
}
