.project-list-item {
  //border-bottom: 1px solid #eee;
  //border-right: 1px solid #fcfcfc;
  //border-left: 1px solid #fcfcfc;
  padding: 2rem 1rem;
  background-color: white;
  
  img {
    //border: 1px solid $my-project-border-color;
    @media #{$large-up} {
      width: 85%;
    }
  }

  .name {
    font-size: 1rem;
    margin-bottom: 0.325rem;
    a {
      color: #666;
      font-weight: 600;
    }
  }

  .info {
    color: #666;
    font-size: 90%;

    .fa {
      margin-right: 0.5rem;
      margin-left: 0.5rem;

      &:first-child {
        margin-left: 0;
      }

    }
  }

  .description {
    color: #666;
  }

  .city, .category {
    a {
      color: #999;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
