@import 'variables';

.project-show, .project-edit {
  .head {

    .logo {
      width: 60%;

      @media #{$small-only} {
        width: 30%;
      }

      margin: auto;
      padding: 0.3125rem;
      border: 1px solid #e9e9e9;
      border-radius: 5px;
      background: white;

      //img {
        //border-radius: 10rem;
      //}
    }

    .name-area {
      margin-top: 2rem;
    }

    .name {
      text-align: center;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 100%;
      a {
        color: #444;
        font-weight: 500;
      }
    }

    .sub-name {
      text-align: center;
      color: #999;
      margin-bottom: 1rem;
      line-height: 1.5;
    }

    .info {
      color: #666;
      line-height: 1.5;

      a {
        color: #666;

        &:hover {
          text-decoration: underline;
        }
      }

      div {
        margin-bottom: 0.5rem;
      }

      i.fa {
        margin-right: 0.5rem;
        margin-left: 1rem;
        width: 1rem;

        &:first-child {
          margin-left: 0;
        }
      }

    }

    .name-area {
      position: relative;
      .status-box {
        position: absolute;
        top: 0;
        right: 0;
        width: 100px;
        height: 100px;
      }

      .status {
        background: #f0ad4e;
        color: #fff;
        padding: 0.5rem 1rem;
        display: inline;
        @media #{$medium-up} {
          position: absolute;
          top: 0;
          right: 0;
        }
        opacity: 0.8;
      }
    }
  }
}

.project-edit {
  .head-edit {

    .name {
      a {
        color: #444;
        font-weight: 500;
      }
    }

    .sub-name {
      color: #999;
      margin-bottom: 1rem;
    }

    .info {
      color: #666;

      a {
        color: #666;

        &:hover {
          text-decoration: underline;
        }
      }

      div {
        margin-bottom: 0.5rem;
      }

      i.fa {
        margin-right: 0.5rem;
        margin-left: 1rem;
        width: 1rem;

        &:first-child {
          margin-left: 0;
        }
      }

    }

  }
}

//.logo img {
  //border-radius: 10rem;
//}

.share-link {
  margin-bottom: 3rem;
  .text {
    float: left;
    margin-top: 6px;
    color: #999;
    font-size: 95%;
    margin-right: 1rem;
  }
  a .jiathis_txt{
    background: none !important;
    margin-left: -15px;

    .fa {
      color: #999;
      &:hover {
        color: $primary-color;
      }
    }
  }
}
