.project-list-item {
  border-bottom: 1px solid #eee;
  border-right: 1px solid #fcfcfc;
  border-left: 1px solid #fcfcfc;
  padding: 1rem 0;
  background-color: white;
  img {
    border-radius: 10rem;
  }
  .name {
    display: inline;
    margin-right: 1rem;
    font-size: 1rem;
    a {
      color: #666;
      font-weight: 600;
    }
  }

  .sub-name {
    display: inline;
    color: #666;
    font-size: 95%;
  }

  .info {
    color: #666;
    font-size: 95%;

    .fa {
      margin-right: 0.5rem;
      margin-left: 0.5rem;

      &:first-child {
        margin-left: 0;
      }

    }
  }

  .description {
    color: #666;
  }

  .city, .category {
    a {
      color: #999;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
