.shared-link {
  list-style-type: none;
  margin: 1rem 0 0 0;
  margin-top: 1rem;
  margin-bottom: 2rem;

  a {
    color: #999;
    text-decoration: underline;
    &:hover {
      color: #666;
    }
  }
}
