.top-blank {
  padding-top: 2.875rem;
}

.main-container {
  min-height: 25rem;
}

p.alert {
  color: #FF2D2D;
}

.description {
  word-wrap: break-word;
  white-space: pre-wrap;
  word-break: break-all;
  line-height: 1.5;
}
