.explore-all {
  padding-top: 1.5rem;
  background-color: white;

  .no-content {
    margin-top: 1rem;
    color: #666;
  }

  .projects {
    border-top: 1px solid #ddd;

    .paginate {
      margin-top: 2rem;
    }

  }

}
