.explore {
  background-color: $my-body-bg;
  padding-top: 2rem;

  .explore-head {
    background-color: #fff;

    .tabs {
      .tab-title a {
        color: #777;
      }
      .tab-title.active a {
        color: $primary-color;
        background-color: #fff;
        border-bottom: 3px solid $primary-color;
      }

      .tab-title a:hover {
        color: $primary-color;
        font-weight: 500;
        background-color: #fff;
      }
    }
    margin-bottom: 1.4285rem;
    border-bottom: 1px solid #ddd;
    width: 100%;
  }
}

.by-tabs {
  margin-left: 0;
  background-color: white;

  .tab-title {
    list-style: none;
    margin-left: 0;

    a {
      display: block;
      padding: 1rem 2rem;
      color: #666;
      border-bottom: 1px solid $my-project-border-color;
      &:hover {
        background-color: #F2F3F4;
      } 
    }

    &.active a {
      color: #333;
      font-weight: 600;
    }
  }
}

.by-tabs-2 {
  margin-left: 0;
  background-color: white;

  .tab-title {
    list-style: none;
    margin-left: 0;
    display: inline-block;

    a {
      display: block;
      padding: 0.5rem 1rem;
      color: #666;
      &:hover {
        color: #333;
      } 
    }

    &.active a {
      color: #333;
      font-weight: 700;
    }
  }
}

.trend {

  table {
    table-layout: fixed;
    td {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
  }

  td.index {
    width: 10%;
  }
  td.project {
    width: 75%;
    @media #{$small-only} {
      width: 60%;
    }
  }
  td.commitment {
    width: 15%;
    @media #{$small-only} {
      width: 30%;
    }
  }

  td.data {
    color: #666;
  }
}
