.explore {

  padding-top: 1.5rem;

  .explore-head {

    .tabs li a {
    }
    margin-bottom: 3rem;
    border-bottom: 1px solid #ddd;
    width: 100%;
  }
}

.by-tabs {
  margin-left: 0;
  border: 1px solid #ddd;

  .tab-title {
    list-style: none;
    margin-left: 0;

    a {
      display: block;
      padding: 1rem 2rem;
      color: #666;
      border-bottom: 1px solid #eee;
      &:hover {
        background-color: #eee;
      } 
    }

    &.active a {
      color: #333;
      font-weight: 600;
    }
  }
}

.by-tabs-2 {
  margin-left: 0;
  border: 1px solid #ddd;

  .tab-title {
    list-style: none;
    margin-left: 0;
    display: inline-block;

    a {
      display: block;
      padding: 0.5rem 1rem;
      color: #666;
      border-bottom: 1px solid #eee;
      &:hover {
        color: #333;
      } 
    }

    &.active a {
      color: #333;
      font-weight: 600;
    }
  }
}

.trend {
  td.index {
    width: 10%;
  }
  td.project {
    width: 75%;
  }
  td.commitment {
    width: 15%;
  }
}
