.middle-text {
  text-align: center;
  z-index: 999;
  .title {
    color: #F7F7F7;
  }

  .top-right {
    margin-right: 0.5rem;
    font-weight: 400;
    font-size: 1rem;
  }
}

.off-canvas-list {
  i {
    margin-right: 0.5rem;
    display: inline-block;
    width: 1rem;
  }
  label {
    cursor: default;
  }
}

.user-link-wrapper {
  position: relative;
}

a.user-link {
  color: #F7F7F7;
}
.user-dropdown {
  background-color: #F7F7F7;
  border: 1px solid #ccc;
  color: #333;
  position: absolute;
  top: 3.2rem;
  z-index: 9999;
  right: 0.5rem;
  padding: 0 1rem;

  .title {
    color: #888;
    font-size: 90%;
  }

  a {
    color: #555;
    font-size: 90%;
    &:hover {
      color: red;
    }
  }

  li {
    list-style-type: none;
    padding: 0.2rem 0;
  }
}
