.start-content {
  background-color: #202021;
  color: #eee;
  padding-bottom: 1.875rem;
  
  .heading, .sub-heading {
    color: #eee;
  }
}

.refine-projects-content {
  background-color: white;
  padding-top: 1.875rem;

  .project {
    text-align: center;
    margin-bottom: 2rem;
    border-bottom: 1px dashed #AAA;
    padding-bottom: 1rem;

    img {
      width: 80%;
    }
    
    .summary {
      padding-top: 1rem;
      padding-bottom: 0.5rem;
      margin-bottom: 0rem;
    }

    .info {
      margin-bottom: 0.5rem;
      span {
        margin-left: 0.5rem;
      }
    }
  }
}

.start-projects-content, .start-investors-content, .start-jobs-content{
  h2 {
    text-align: center;
    margin: 2rem;
  }

  .project img {
    border-radius: 10rem;
  }

  .head {
    min-height: 6.5rem;
  }

  .investor .content {
    text-align: center;
    .tag {
      color: #999;
      font-size: 95%;
    }

    .investments * {
      color: #666;
    }
  }

  .box {
    margin: 1rem;
    padding: 1rem 2rem;
    border: 1px solid #ddd;

    .head {
      margin-bottom: 1rem;
      border-bottom: 1px solid #ddd;
      padding-bottom: 1rem;

      .subtitle {
        margin: 1rem 0;
        color: #999;
        font-size: 95%;
        white-space: nowrap;
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    .content {
      font-size: 95%;
      line-height: 2;
      height: 5rem;
      .type {
        color: #999;
      }
      .item {
        color: #666;
        white-space: nowrap;
        width: 100%;
        text-align: right;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}
