@import 'variables';
.investors {
  background-color: $my-body-bg;

  .head {
    background-color: #28545E;
    color: white;
    h1 {
      color: white;

      a {
        font-size: 1.2rem;
        margin-left: 1rem;
        color: #bbb;
      }
    }
  }

  .sub-nav {
    @media #{$small-only} {
      display: none;
    }
  }
  .search-form {
    background-color: white;
    padding: 3rem 2rem 2rem 2rem;
    margin-bottom: 2rem;
    @media #{$small-only} {
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }

  .investor {
    background-color: white;
    padding: 1rem;
    padding-bottom: 0;
    margin: 0;
    border: 1px solid #fcfcfc;
    
    img {
      border-radius: 50%;
    }

    .name-area {
      line-height: 1.5rem;

      .name {
        display: inline;
        a {
          color: #333;
        }
      }

      .title {
        margin-left: 1rem;
        color: #333;
        display: inline;
        a {
          color: #333;
        }
      }

      .type {
        color: #999;
        font-size: 0.875rem;
      }
    }

    .content {
      color: #999;

      .industry-area {
        margin-top: 1rem;
      }

      .industry {
        margin-left: 0.5rem;
      }
    }

    .op {
      margin-top: 1rem;
    }
  }
}
