.investors {

  .head {
    background-color: #28545E;
    color: white;
    h1 {
      color: white;

      a {
        font-size: 1.2rem;
        margin-left: 1rem;
      }
    }
  }

  .investor {
    margin: 1rem 0;
    padding: 1rem 0;

    .name-area {
      line-height: 1.5rem;

      .name {
        display: inline;
        a {
          color: #333;
        }
      }

      .title {
        margin-left: 1rem;
        color: #333;
        display: inline;
        a {
          color: #333;
        }
      }
    }

    .content {
      color: #999;

      .industry-area {
        margin-top: 1rem;
      }

      .industry {
        margin-left: 0.5rem;
      }
    }
  }
}
