.project-show {
  background-color: white;
  
  .head {
    padding-bottom: 2rem;
  }

  .operate {
    text-align: center;

    a {
      display: inline-block;
      width: 100%;
      border: 1px solid #ddd;
      padding: 1rem 0;
      margin: 1rem 0;
      color: #333;
      font-size: 1.5rem;
    }
  }

  .tab-content {
    margin-top: 2rem;
    padding-top: 2rem;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    .list {
      text-align: center;
      a {
        color: #333;
        font-size: 1.2rem;
        display: inline-block;
        width: 100%;
        padding-bottom: 1.875rem;
      }
      .active {
        border-bottom: 2px solid #d26911;
      }
    }
  }

  .content {
    margin-top: 2rem;
    
    .image {
      text-align: center;
    }
  }
}
