.project-new {
  background-color: white;

  .head {
    margin-bottom: 2rem;

    .list {
      text-align: center;
      width: 100%;
      margin-left: 0;
      li {
        border: 1px solid #ddd;
        padding: 0;
      }
      a {
        width: 100%;
        color: #aaa;
        display: inline-block;
        width: 100%;
        padding: 1.5rem 0;
        font-size: 1.2rem;
      }
      .active {
        color: #333;
      }
    }

  }// head

  textarea {
    min-height: 8rem;
  }

  .title {
    border-bottom: 1px solid #ddd;
    padding-bottom: 0.5rem;
    margin-bottom: 0.5rem;
  }

  .control-actions {
    width: 100%;
    text-align: center;
    .back-link {
      margin-left: 0.5rem;
    }
  }

  .image-wrapper {
    //height: 8rem;
    //border: 1px solid #aaa;
    //margin-bottom: 1rem;
  }

  .stage1 {
    #owner-avatar {
      margin-top: 0.5rem;
    }
    .edit {
      position: absolute;
      right: 1rem;
      top: 0.5rem;
    }
    .cancel {
      margin-left: 0.5rem;
    }
    img {
      width: 100%;
    }
  }

  .stage2 {
    .title {
      display: inline-block;
      padding: 0;
      border: none;
    } 

    .job-box {
      border: 1px solid #ddd;
      padding: 1rem 0;
      margin: 1rem;
      table {
        border: none;
      }
    }

  }

}
