.project-new {

  textarea {
    min-height: 8rem;
  }

  .title {
    border-bottom: 1px solid #ddd;
    padding-bottom: 0.5rem;
    margin-bottom: 0.5rem;
  }

  .stage0 {
    input.autocomplete {
      margin-bottom: 0;
    }
    .autocomplete-wrapper-position {
      position: relative;
    }
    .no-result {
      margin-bottom: 1rem;
      color: #666;
    }
    .autocomplete-wrapper {
      position: absolute;
      list-style-type: none;
      margin-left: 0;
      border: 1px solid #aaa;
      z-index: 2;
      background-color: white;
      width: 100%;
      li {
        padding: 0.25rem 0.5rem;
        &:hover {
          background-color: #eee;
        }
      }
      a {
        display: block;
        color: #333;
      }
    }
  } 

  .stage1 {
    #owner-avatar {
      margin-top: 0.5rem;
    }
    .edit {
      position: absolute;
      right: 1rem;
      top: 0.5rem;
    }

    .cancel {
      margin-left: 0.5rem;
    }

    .team-story-wrapper {
      color: #888;
      min-height: 6rem;
    }

    .members .person .name {
      padding-bottom: 0;
    }
    
    .invite-tips {
      color: #888;
    }
  }

  .stage2 {
    .cancel {
      margin-left: 0.5rem;
    }
    .title {
      display: inline-block;
      padding: 0;
      border: none;
    } 

    .job-box {
      border: 1px solid #ddd;
      padding: 1rem 0;
      margin: 1rem;
      table {
        border: none;
      }
    }
  }

}
