.project-edit {
  .head {
    border-bottom: 1px solid #ddd;
    position: relative;
    padding-bottom: 1rem;
  }

  .tips {
    background-color: #F3F3DC;
    color: #888;
    padding: 1rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
  }

  .image-edit {
    list-style: none;
    margin-left: 0;
    li {
      margin-bottom: 1rem;

      .name {
        margin: 0 1rem;
      }
    }
  }
}
