// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.search_side {
  background-color: #fafafa;
}

.project_container {
  padding: 1rem 0;
}

.project_show {
  padding: 1rem 0 1rem 0;
  border-bottom: 1px solid #dddddd;
}

h4.project_name {
  color: red;
}

li.active a {
  color: red;
}

.address, .industry {
  color: #aaa;
  font-size: 90%;
  margin-bottom: 0;
}
p.address, p.industry {
  padding: 1rem 0 0;
}

.description {
  margin-bottom: 0;
}

// 我的项目
.project_list {
  background-color: #fafafa;
  height: 100%;
}

#search {
  margin-bottom: 0;
}

.project_stats {
  position: relative;
  top: 0.75rem;
}

.team {
  margin: 1rem 1rem;
}

.title, .description {
  color: #aaa;
}

.name {
  margin-bottom: 0;
}

.invest_stats {
  color: #aaa;
  padding-left: 0.25rem;
}

.center {
  margin: auto;
}

#logo_image_field {
  margin-bottom: 1rem;
}

.publish_box {
  margin-top: 1rem;
  margin-bottom: -2.3rem;
}
