.simple {
  margin-top: 2rem;
  padding: 2rem 0;
  background-color: #fff;
  min-height: 0;

  .head2 {
    margin-bottom: 0.5rem;
  }

  .content {
    display: none;
  }

  .foot {
    display: none;
  }
}
