.square {
  h1, h2 {
    border-bottom: 1px solid #ddd;
    margin-bottom: 2rem;
  }

  .all-projects {
    text-align: center;
    margin-top: 1rem;
  }

  .recommend-project {
    text-align: center;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
  }

}
