.talk-modal {

  .notice {
    color: #666;
  }

  .title {
    color: #444;
    //border-bottom: 1px solid #ddd;
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
  }

  .back {
    margin-left: 0.5rem;
  }

}
