@import 'variables';

.timeline {

  .no-content {
    text-align: center;
    margin-bottom: 1rem;
  }

  .event > .box {
    border-top: 1px solid #f1f1f1 !important;
    padding-top: 2rem !important;
  }

  .box {

    &:first-child {
      border-top: none;
      padding-top: 0;
    }
    border-top: 1px solid #f1f1f1;
    padding-top: 2rem;

    .type {
      display: inline-block;
      color: #999;
    }

    @media #{$small-only} {
      .type {
        display: none;
      }
    }

    .content-wrapper {

      .created-at {
        float: right;
        color: #999;
        font-size: 90%;
      }
    }

    .head, .foot {

      a {
        display: inline-block;
        margin: 0 0.5rem;
        &:first-child {
          margin-left: 0;
        }
      }

    }

    .content {
      padding-bottom: 1rem;
      margin-bottom: 1rem;
      .title {
        display: inline-block;
      }
      .sub-title {
        display: inline-block;
        color: #888;
        padding-left: 1rem;
        font-size: 90%;
      }
      .team {
        color: #666;
      }
    }

    .foot {
      color: #666;
      padding-bottom: 1rem;
      .detail {
        margin-left: 0.5rem;
        font-size: 90%;
      }
    }

  }
}
