@import 'variables';

.timeline {

  .box {
    @media #{$small-only} {
      .type {
        display: none;
      }
    }

    .type {
      color: #666;
    }

    .content-wrapper {
      .created-at {
        float: right;
        color: #999;
        font-size: 90%;
      }
    }

    .head {
      border-bottom: 1px solid #f1f1f1;
      padding-bottom: 1rem;
      margin-bottom: 1rem;

      a {
        display: inline-block;
        margin: 0 0.5rem;
        &:first-child {
          margin-left: 0;
        }
      }

    }

    .content {
      border-bottom: 1px solid #eee;
      padding-bottom: 1rem;
      margin-bottom: 1rem;
      .title {
        display: inline-block;
      }
      .sub-title {
        display: inline-block;
        color: #888;
        padding-left: 1rem;
        font-size: 90%;
      }
      .team {
        color: #666;
      }
    }

    .foot {
      color: #666;
      border-bottom: 1px solid #ddd;
      padding-bottom: 1rem;
      margin-bottom: 1rem;
      .detail {
        margin-left: 0.5rem;
        font-size: 90%;
      }
    }

  }
}
