.project-td {
  img {
    border-radius: 10rem;
  }

  .title a {
    color: #333;
    font-weight: 600;
    &:hover {
      text-decoration: underline;
    }
  }

  .sub-title {
    color: #666;
  }
}
