/*- if flash[:notice]*/
  /*.alert-box.success data-alert=''*/
    /*| #{flash[:notice]}*/
    /*a.close href='#' ×*/
/*- if flash[:alert]*/
  /*.alert-box.warning data-alert=''*/
    /*| #{flash[:alert]}*/
    /*a.close href='#' ×*/
